@using ColdlineWeb.Models
@code {
    [Parameter] public UserModel? User { get; set; }
    [Parameter] public EventCallback OnLogout { get; set; }
}

<div class="sidebar">
    @if (User != null)
    {
        <div class="user-avatar">
            <div class="user-avatar">
        <img src="@($"http://10.0.0.44:5000/uploads/{User.UrlPhoto}")" 
             alt="Foto do Usuário" 
             width="80" 
             onerror="this.onerror=null; this.src='https://via.placeholder.com/80';">
    </div>
        </div>

        <div class="user-info">
            <h5>@User.Name</h5>
            <p>@User.Department?.Name</p>
            
            @if (User.CurrentProcess != null)
            {
                <p>@User.CurrentProcess.Name</p>
            }
            else
            {
                <p>Não há progresso existente</p>
            }

            @if (User.CurrentOccurrence != null)
            {
                <p>@User.CurrentOccurrence.Name</p>
            }
            else
            {
                <p>Não há ocorrência</p>
            }
        </div>
    }
    <div class="sidebar-logo">
        <img src="img/logo.png" alt="Logo Coldline">
    </div>

    <button class="btn-circle" @onclick="() => OnLogout.InvokeAsync()">
        <i class="fas fa-arrow-left"></i>
    </button>
</div>
