@page "/reports"
<link rel="stylesheet" href="css/Quality.css" />

<div class="tab-bar">
    <button class="tab-button @(selectedChart == null ? "active" : "")" @onclick="@(() => ExibirChart(null))">Nada</button>
    <div class="tab-button dropdown">
        <button class="tab-button @(selectedChart == "numberProcessByUsers" ? "active" : "")">Quantidade</button>
        <div class="dropdown-content">
            <button @onclick="@(() => ExibirChart("numberProcessDate"))">Processos por data</button>
            <button @onclick="@(() => ExibirChart("numberMachineDate"))">Máquinas por data</button>
            <button @onclick="@(() => ExibirChart("numberOcurrenceDate"))">Ocorrencias por data</button>
            <button @onclick="@(() => ExibirChart("numberProcessByUsers"))">Processos por usuário</button>
            <button @onclick="@(() => ExibirChart("numberOcurrencesByUsers"))">Ocorrencias por usuário</button>
            <button @onclick="@(() => ExibirChart("numberProcessByTypeProcess"))">Processos por tipo de processo</button>
            <button @onclick="@(() => ExibirChart("numberMachineByTypeMachine"))">Maquinas por tipo de maquina</button>
        </div>
    </div>
</div>

@if (selectedChart == "numberProcessDate")
{
    <NumberProcessDate />
}
else if (selectedChart == "numberMachineDate")
{
    <NumberMachineDate />
}
else if (selectedChart == "numberOcurrenceDate")
{
    <NumberOcurrenceDate />
}

else if (selectedChart == "numberProcessByUsers")
{
    <NumberProcessByUsers />
}
else if (selectedChart == "numberOcurrencesByUsers")
{
    <NumberOcurrencesByUsers />
}
else if (selectedChart == "numberProcessByTypeProcess")
{
    <NumberProcessByTypeProcess />
}
else if (selectedChart == "numberMachineByTypeMachine")
{
    <NumberMachineByTypeMachine />
}

@code {
    private string? selectedChart;

    private void ExibirChart(string? chart)
    {
        selectedChart = chart;
    }
}
